name: Trigger Vercel deploy (prod)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  trigger-vercel-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger suite.turbot.com deployment
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_PAT }}
          repository: turbot/suite.turbot.com
          event-type: deploy-docs-production
          client-payload: '{"docs_update": "guardrails"}'
